__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.github
*Dockerfile*
*docker-compose*
README.md
export_onnx_model.sh
tests
.pylintrc
venv
gpt2_onnx